<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <td>
        {% if instance.quantity <= instance.reorder_level %}
        <div style="background-color: orange;">{{instance.quantity}}</div>
        {% else %}{{instance.quantity}}
        {% endif %}
      </td>
      
      <td><a href="{% url 'reorder_level' instance.id %}">{{instance.reorder_level}}</a></td>
</body>
</html>